{% extends 'layout.html' %}
{% block content %}
  <h1>Novo Cliente</h1>
  <form method="post">
    <label>Nome</label>
    <input name="nome" required>
    <label>Telefone</label>
    <input name="telefone">
    <label>Modelo do veículo</label>
    <input name="modelo_veiculo">
    <label>Placa</label>
    <input name="placa">
    <label>PF ou CNPJ</label>
    <input name="pessoa">
    <label>Forma de pagamento</label>
    <select name="forma_pagamento">
      <option>Pix</option>
      <option>Dinheiro</option>
      <option>Débito</option>
      <option>Crédito</option>
    </select>
    <button type="submit">Salvar</button>
  </form>
{% endblock %}
